

{%extends "layout.html"%}
{%set active_page="home"%}

  {% block title%}home{%endblock%}

    {% block content%}

      <h1>Home</h1>
<form action="/page1" method="POST">
	<button type="submit"class="btn btn-success" >Start</button>
	</form>
	
<p>This website is for adding readable information to a CSV file therefore it can be viewed in a Google table. 
   The Information includes the user's name, the current date and time,how many pages the user read that day or week, the genre of the book 
   they are currently reading and if they read every day. </p>
    {%endblock%}
