

{%extends "layout.html"%}
{%set active_page="home"%}

  {% block title%}home{%endblock%}

    {% block content%}

      <h1>home</h1>
<form action="/page1" method="POST">
	<button type="submit"class="btn btn-success" >Start</button>
	</form>
	
<p>This website is for adding reading information to a CSV file so it can be viewed in a table. 
   The Information includes how many pages the user read that day or week, the genre of the book 
   they are currently reading and if they read today. </p>
    {%endblock%}
