
{%extends "layout.html"%}
{%set active_page="page1"%}

  {% block title%}page 1{%endblock%}

    {% block content%}
    <h1>page 1</h1>
    
    <p>Pages read</p>
    <br><br>
        
    <form action="/page2" method="POST">
        <div class="form-group" >
            <label for="p3"> Name</label>
            <input class="form-control" type="text" name="name" id="p3">
        </div>
        <div class="form-group" >
            <label for="p1"> Number of Pages </label>
            <input class="form-control" type="text" name="pages" id="p1">
        </div>
        

         <button type="submit"class="btn btn-outline-success btn-lg" >Last </button> <button type="submit"class="btn btn-outline-success btn-lg" >Next</button>
    </form>
    {%endblock%}
